﻿
@{
    ViewBag.Title = "Joined";
}

<body>
    <h2>De inschrijving is gelukt!</h2>
    <hr />
    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>
</body>

