﻿@model StudentApplication.Models.MealModel

@{
    ViewBag.Title = "ViewMeals";
}

<body>
    <h2>Overzicht maaltijden</h2>
    <p>Het onderstaande schema geeft weer wie wanneer kookt en wie er mee eet.</p>
    @if (ViewContext.HttpContext.User.IsInRole("Registration"))
    {
        <p>Je registratie is nog niet compleet, je kan nu dan ook nog geen functionaliteiten gebruiken! Maak eerst je registratie af.</p>
        <button class="btn btn-danger" type="button" style="padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("StepTwo", "AccountStudent", new { title = "Stap 2" })'">Maak registratie compleet</button>
        <br /><br />
    }
    <table class="table table-hover table-striped">
        <tr>
            <th>
                <p>Datum</p>
            </th>
            <th>
                <p>Naam maaltijd</p>
            </th>
            <th>
                <p>Prijs</p>
            </th>
            <th>
                <p>Kok</p>
            </th>
            <th>
                <p>Inschrijvingen</p>
            </th>
            <th>
                <p>Info</p>
            </th>
            <th>
                <p>In/Uitschrijven</p>
            </th>
        </tr>
        @foreach (var date in Model.Dates)
        {
            var meal = Model.Meals.Where(x => x.MealDateTime == date).FirstOrDefault();
            if (meal == null)
            {
                <tr>
                    <td>
                        @date.Date.ToString("dddd") @date.ToShortDateString()
                    </td>
                    <td>
                        <b>Geen maaltijd</b>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (ViewContext.HttpContext.User.IsInRole("Registered"))
                        {
                            <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("CreateMeal", "MealManager", new { dateTime = date })'">Maaltijd maken</button>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @date.Date.ToString("dddd") @date.ToShortDateString()
                    </td>
                    <td>
                        @meal.Name
                    </td>
                    <td>
                        € @meal.Price
                    </td>
                    <td>
                        @if (meal.StudentId == Model.Student.StudentId)
                        {
                            <b>(ik) </b>
                        }
                        @meal.Cook.Name
                    </td>
                    <td>
                        @meal.CurrentGuests / @meal.MaxGuests
                        @if (Model.StudentMeals.Where(x => x.MealId == meal.MealId).FirstOrDefault() != null && meal.StudentId != Model.Student.StudentId)
                        {
                            <b>(Ingeschreven)</b>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("MealInfo", "MealManager", new { id = meal.MealId })" title="Info"><img src="~/Content/sprite-info.svg"></a>
                    </td>
                    <td>
                        @if (ViewContext.HttpContext.User.IsInRole("Registered"))
                        {
                            if (meal.StudentId == Model.Student.StudentId)
                            {
                                <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("EditMeal", "MealManager", new { id = meal.MealId })'">Wijzigen</button>
                                <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("DeleteMeal", "MealManager", new { id = meal.MealId })'">Verwijderen</button>
                            }
                            else if (Model.StudentMeals.Where(x => x.MealId == meal.MealId).FirstOrDefault() == null)
                            {
                                if (meal.CurrentGuests != meal.MaxGuests)
                                {
                                    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("JoinMeal", "MealOverview", new { id = meal.MealId })'">Inschrijven</button>
                                }
                                if (meal.CurrentGuests == meal.MaxGuests)
                                {
                                    <b>Vol</b>
                                }
                            }
                            else
                            {
                                <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ExitMeal", "MealOverview", new { id = meal.MealId })'">Uitschrijven</button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>
</body>

