﻿@model  WebUI.Models.SalesTempTicketModel

@{
    ViewBag.Title = "DisplayTicket";
}

<body>
    <div class="col-md-12">
        <div>
            <div class="col-md-12">
                <br />
                <h3>Tickets</h3>
                <p>
                    @Html.DisplayFor(x => Model.TempTickets.First().Show.Movie.Name)<br />
                    @Html.DisplayFor(x => Model.TempTickets.First().Show.BeginTime.DayOfWeek) @Html.DisplayFor(x => Model.TempTickets.First().Show.BeginTime.Day)-@Html.DisplayFor(x => Model.TempTickets.First().Show.BeginTime.Month)-@Html.DisplayFor(x => Model.TempTickets.First().Show.BeginTime.Year)<br />
                    @Html.DisplayFor(x => Model.TempTickets.First().Show.BeginTime.TimeOfDay) - @Html.DisplayFor(x => Model.TempTickets.First().Show.EndTime.TimeOfDay)<br />
                    Zaal @Html.DisplayFor(x => Model.TempTickets.First().Show.Room.RoomNumber)<br />
                </p>
                <table class="col-md-8 table-hover table-bordered table-striped" cellpadding="7">
                    <tr>
                        <th scope="col">TicketID</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Type</th>
                        <th scope="col">Popcorn</th>
                        <th scope="col">3D Bril</th>
                        <th scope="col">Rijnummer</th>
                        <th scope="col">Stoelnummer</th>
                    </tr>
                    @foreach (var item in Model.TempTickets)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.ID)
                            </td>
                            <td>
                                €@Html.DisplayFor(x => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.TicketType)
                            </td>
                            <td>
                                @if (item.Popcorn == true)
                                {
                                    <p>Ja</p>
                                }
                                else
                                {
                                    <p>Nee</p>
                                }
                            </td>
                            <td>
                                @if (item.Glasses == true)
                                {
                                    <p>Ja</p>
                                }
                                else
                                {
                                    <p>Nee</p>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.RowNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.SeatNumber)
                            </td>
                        </tr>
                    }
                </table>
                <hr />
            </div>
            <div class="col-md-12">
                @if (Model.Deductions != null)
                {
                    <h3>
                        Kortingen
                    </h3>
                    <table class="col-md-8 table-hover table-bordered table-striped" cellpadding="7">
                        <tr>
                            <th>
                                Korting type
                            </th>
                            <th>
                                Bedrag
                            </th>
                            <th>
                                Verwijderen
                            </th>
                        </tr>

                        @foreach (var item in Model.Deductions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.Name)
                                </td>
                                <td>
                                    €@Html.DisplayFor(x => item.Amount)
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="button" onclick="location.href = '@Url.Action("RemoveDeduction", "SalesTicket", new { id = item.Id }, null)'">Verwijderen</button>
                                </td>
                            </tr>
                        }

                    </table>
                }
                <br />
                <b>Korting toevoegen</b><br />
                <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("Deduction", "SalesTicket", new { tarrifType = "Bioscoopbon 10", tarrifReduction = 10 })'">Bioscoopbon € 10,00</button>
                <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("Deduction", "SalesTicket", new { tarrifType = "Bioscoopbon 25", tarrifReduction = 25 })'">Bioscoopbon € 25,00</button>
                <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("Deduction", "SalesTicket", new { tarrifType = "Bioscoopbon 50", tarrifReduction = 50 })'">Bioscoopbon € 50,00</button>
                @if ((int)System.DateTime.Now.DayOfWeek == 1 | (int)System.DateTime.Now.DayOfWeek == 2 | (int)System.DateTime.Now.DayOfWeek == 3 | (int)System.DateTime.Now.DayOfWeek == 4)
                {
                    <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("Deduction", "SalesTicket", new { tarrifType = "MaDiWoDo", tarrifReduction = 15 })'">MaDiWoDo bon</button>
                }
                <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("Deduction", "SalesTicket", new { tarrifType = "10-ritten kaart", tarrifReduction = 15 })'">10-ritten kaart</button>
                <hr />
            </div>
            <div class="col-md-12">
                <h3>Totaalprijs</h3>
                <b>€  @Html.DisplayFor(x => Model.CurrentPrice)</b>
                <hr />
                <h3>Afrekenen</h3>
                <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("Pay", "SalesTicket", new { reservationId = Model.TempTickets.FirstOrDefault().ReservationID })'">Betalen</button>
                <hr />
                <br /><br /><br /><br />
            </div>
        </div>
    </div>
</body>

