﻿@model WebUI.Models.Order
@{
    ViewBag.Title = "OrderTickets";
}

<body>
    <div class="text-center">
        @*<p>*@
        <br />
        <h2>Tickets bestellen voor @ViewBag.MovieName</h2><br />
        <p style="color:red"><b>@ViewBag.SoldOut</b></p>
        @*</p>*@
        @using (Html.BeginForm())
        {
            <p style="display:none">Reservering ID: @Html.DisplayFor(x => Model.ReservationID) Show ID: @Html.DisplayFor(x => Model.ShowID) </p>
            <table align="center" style="border-spacing: 10px; border-collapse: separate;">
                <tr>
                    <th scope="col">Type ticket</th>
                    <th scope="col">Prijs</th>
                    <th scope="col">Aantal</th>
                </tr>
                <tr>
                    <td>Standaard</td>
                    <td>€@ViewBag.NormalPrice</td>
                    <td>@Html.TextBox("NormalTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
                </tr>
                <tr>
                    <td>Kind</td>
                    <td>€@ViewBag.ChildPrice</td>
                    <td>@Html.TextBox("ChildTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>€@ViewBag.StudentPrice</td>
                    <td>@Html.TextBox("StudentTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
                </tr>
                <tr>
                    <td>Senior</td>
                    <td>€@ViewBag.SeniorPrice</td>
                    <td>@Html.TextBox("SeniorTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
                </tr>
            </table>


            <input class="btn btn-danger" type="submit" value="Bestellen" />
        }
    </div>
</body>



