﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Avans Cinema</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/footer-fixed.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="shortcut icon" href="~/Content/favicon.64.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    @*<script src="~/Content/my-javascript.js"></script>*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type='text/javascript'>
        $(function () {
            $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
        })
    </script>
    <script type="text/javascript">
        function disableButton(btn) {
            document.getElementById("oneclick").disabled = true;
        }
    </script>
    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: 41.85, lng: -87.65 }
            });
            directionsDisplay.setMap(map);

            var onChangeHandler = function () {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            };
            document.getElementById('start').addEventListener('change', onChangeHandler);
            document.getElementById('end').addEventListener('change', onChangeHandler);
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            directionsService.route({
                origin: document.getElementById('start').value,
                destination: document.getElementById('end').value,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0p-i9A2ib2aqNKex48WhUJmIqqaHlNms&callback=initMap">
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Avans Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>*@
    <!--Begin Avans nav bar-->
    <nav class="nav-avans" , style="height: 60px;">
        <div class="container" }>
            @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Index", "Manage", new { title = "Manage" })'">Hallo @User.Identity.GetUserName()!</button>
            <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="javascript:document.getElementById('logoutForm').submit()">Uitloggen</button>
}
}
else
{
        <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Register", "Account", new { id = "registerLink" })'">Registreren</button>
        <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Login", "Account", new { id = "loginLink" })'">Inloggen</button>
}
            @Html.ActionLink("Avans Cinema", "Overview", "UpcomingShow", new { locationid = 1 }, new { @style = "color:black; padding: 10px; font-weight: bold;", @class = "navbar-brand" })

            @if (ViewContext.HttpContext.Request.AppRelativeCurrentExecutionFilePath != "~/UpcomingShow/Overview" & ViewContext.HttpContext.Request.AppRelativeCurrentExecutionFilePath != "~/Home/Index")
    {
    }                <!--<input action="action" class="btn btn-outline-light" style="float: right; padding:8px; margin-top:8px; margin-right:16px" type="button" value="Terug naar vorige scherm" onclick="window.history.go(-1); return false;" />-->

            <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Specials", "Specials")'">Arrangementen</button>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Index", "Role")'">Roles</button>
        <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("ViewEnqueteResults", "Enquete")'">Enquete</button>

}
            @if (ViewContext.HttpContext.User.IsInRole("Kassa"))
    {
        <button class="btn btn-outline-light" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("SalesIndex", "Sales")'">Kassa</button>
}
            <ul class="global-links">
                <li>

                </li>
            </ul>
        </div>
    </nav>
    <!--End Avans nav bar-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - IVH15</p>
            </footer>*@
    </div>
    <!-- Begin Footer Avans -->
    <footer class="card-footer" style="padding-left:160px; padding-right:210px">
        <div class="col"></div>
        <button class="btn btn-outline-danger" type="button" style="padding:8px; margin-right:16px; margin-left:50px" onclick="location.href = '@Url.Action("Unsubscribe", "Email")'">Afmelden nieuwsbrief</button>
        <button class="btn btn-outline-danger" type="button" style="padding:8px; margin-right:16px" onclick="location.href = '@Url.Action("Reservation", "Reservation")'">Reserving ophalen</button>
        <button class="btn btn-outline-danger" type="button" style="padding:8px; margin-right:16px" onclick="location.href = '@Url.Action("Contact", "Contact")'">Contact</button>
        <button class="btn btn-outline-danger" type="button" style="padding:8px; margin-right:16px" onclick="location.href = '@Url.Action("Enquete", "Enquete")'">Enquete</button>
        <a target="_blank" href="https://www.facebook.com/Avansinformatica/" style="float: right; padding-left:8px;"><img src="~/Content/socialmedia_facebook.png" /></a>
        <a target="_blank" href="https://twitter.com/avanshogeschool" style="float: right; padding-left:8px;"><img src="~/Content/socialmedia_twitter.png" /></a>
        <a target="_blank" href="https://www.instagram.com/avanshogeschool/" style="float: right; padding-left:8px;"><img src="~/Content/socialmedia_insta.png" /></a>
        <p style="color: aliceblue; margin-left:50px; max-width:200px;">&copy; @DateTime.Now.Year - IVH7</p>
    </footer>
    <!-- End Footer Avans-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>