﻿@model Domain.Entities.Subscription

@{
    ViewBag.Title = "PaymentOptions";
}


<div>
    <br />
    <h4>Overzicht</h4>
    <hr />
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                Barcode
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Barcode)
            </dd>

            <dt>
                Voornaam
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Straatnaam
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt>
                Huisnummer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HouseNumber)
            </dd>
            @if (Model.HouseNumberExtras != null)
            {
                <dt>
                    Huisnummer toevoegingen
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HouseNumberExtras)
                </dd>
            }

            <dt>
                Woonplaats
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomeTown)
            </dd>

            <dt>
                Foto
            </dt>

            <dd>
                <img src="@Url.Content(Model.ImagePath)" alt="Image" height="128" width="128" />
            </dd>

            <dt>
                Geboortedatum
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>

            <dt>
                Abonnement verloopdatum
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpireDate)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Telefoon
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <hr />
        <h4>Totaalprijs: <b>€ 65,00</b></h4>
        <hr />
    </div>
    <div class="col-md-4">
        <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("PayCash", "Subscription", Model)'">Contant betalen</button>
        <button class="btn btn-danger" type="button" id="oneclick" onclick="location.href = '@Url.Action("PayPIN", "Subscription", Model)'">Betalen met PIN</button>
    </div>
</div>